# Git
.git
.gitignore
.gitattributes

# IDE
.idea
*.iml
.vscode

# Build
build/
target/
out/
.gradle/

# Gradle
.gradle
gradle-wrapper.jar

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Documentation
README.md
HELP.md
docs/

# CI/CD
.github/
helm/
